/*
# Base Color

```
<div class="colorbox">
    <div class="box">
        <div class="base-color"></div>
        $base_color
    </div>
    <div class="box">
        <div class="complement-color"></div>
        $complement_color
    </div>
    <div class="box">
        <div class="complement-alt-color"></div>
        $complement_alt_color
    </div>
</div>
<div class="colorbox">
    <div class="box">
        <div class="light-color"></div>
        $light_color
    </div>
    <div class="box">
        <div class="lighter-color"></div>
        $lighter_color
    </div>
</div>
<div class="colorbox">
    <div class="box">
        <div class="triad1-color"></div>
        $triad1_color
    </div>
    <div class="box">
        <div class="triad2-color"></div>
        $triad2_color
    </div>
</div>
```

*/
$base_color: hsl(15,50%,35%);
$complement_color: adjust_hue($base_color, 180);
$complement_alt_color: darken($complement_color, 5%);

$light_color: lighten($base_color, 15%);
$lighter_color: lighten($base_color, 30%);

$triad1_color: adjust_hue($base_color, 120);
$triad2_color: adjust_hue($base_color, -120);
